.ddm .slidedown { 
    display: block!important; 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-name: fadeInUp; 
}
.ddm .highlite > a { color: var(--goldenrod); }