/**
 * Post metabox
 */
 #post_reading_time_wrap {
     display: flex;
     align-items: center;

     input {
         margin-right: 1rem;

         & + span {
            svg {
                fill: #5014D0;
                width: 16px;
                height: 16px;
            }
        }
     }
 }