/* CSS Document */

body { font-family: 'robotoregular'; font-size: 13px; }
.wrp { border: rgba(0,0,0,.12) solid 1px; padding: 2%; box-sizing: border-box; }
#print {
    background-image: url('./cert-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 22rem; 

    .no-border {
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background-color: white;
            top: 100%;
            left: 0;
        }
    }

    .text-fill {
        margin-bottom: 1rem;
    }
}

@media print {
	html, body { 
        -webkit-print-color-adjust: exact; 
        print-color-adjust: exact;
        overflow: hidden !important;
    }
	@page { margin: 0; }
	form, .tabbed-pan { display: none; }
    #print { 
        position: fixed;
        padding-top: 34rem;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        font-size: 15px;

        .text-fill {
            margin-bottom: 2rem;
        }

        .obs {
            font-size: 22px;
        }
    }
}