/* CSS Document */

body { font-family: 'robotoregular'; font-size: 13px; }
body > div.wrp { background-color: #FFF; border: rgba(0,0,0,.12) solid 1px; padding: 2%; box-sizing: border-box; }
body > div.wrp > form { padding: 0px; margin: 0px; margin-bottom: 1.4em; }
body > div.wrp > form > fieldset { border: none; margin: 0px; padding: 0; }
body > div.wrp > form > fieldset > legend { display: none; }
body > div.wrp > form > fieldset > table { width: 70%; border-collapse: collapse; table-layout: fixed; }
body > div.wrp > form > fieldset > table tr { border: rgba(0,0,0,.12) solid 1px; }
body > div.wrp > form > fieldset > table tr > td { padding: 1.6em 0px; text-align: center; }
body > div.wrp > form > fieldset > table tr > td .pf-textbox-wrp { width: 80%; }
body > div.wrp > form > fieldset > table tr > td:last-child { text-align: left; }
body > div.wrp > form > fieldset > table tr > td:last-child .pf-textbox-wrp { width: 28%; }
body > div.wrp > table { width: 100%; border-collapse: collapse; table-layout: auto; }
body > div.wrp > table tr:nth-child(1) .pf-textbox-wrp { width: 20%; margin-bottom: .5em; }
body > div.wrp > table tr:nth-child(2) > td:first-child > ul,
body > div.wrp > table tr:nth-child(2) > td:nth-child(3) .class-room { border: rgba(0,0,0,.12) solid 1px; border-top: none; padding: 12px; height: 344px; overflow: auto; box-sizing: border-box; }
body > div.wrp > table tr:nth-child(2) > td:first-child > ul { border-top: rgba(0,0,0,.12) solid 1px; height: 508px; }
body > div.wrp > table tr:nth-child(2) > td:first-child > ul li { border-bottom: rgba(0,0,0,.12) solid 1px; padding: .6em 0px; clear: left; z-index: 50; }
body > div.wrp > table tr:nth-child(2) > td:first-child > ul img { width: 40px; height: 40px; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; float: left; margin-right: .8em; }
body > div.wrp > table tr:nth-child(2) > td:first-child > ul strong { display: block; width: 75%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-bottom: 3px; }
body > div.wrp > table tr:nth-child(2) > td:nth-child(2) > a { display: block; width: 24px; height: 24px; background-color: transparent; background-repeat: no-repeat; text-decoration: none; }
body > div.wrp > table tr:nth-child(2) > td:nth-child(2) > a:first-child { background-image: url(../img/sprite-24.png); background-position:  0px -24px; }
body > div.wrp > table tr:nth-child(2) > td:nth-child(2) > a:last-child { background-image: url(../img/sprite-24.png); background-position:  0px -48px; }
#classroom .sit { width: 30%; height: auto; margin-right: 5%; margin-bottom: 4%; }
#classroom .sit:nth-child(3n+3) { margin-right: 0px; }
#classroom .sit > div { height: 42px; background-color: #2C3E50; margin-bottom: 8px; }
#classroom .sit > ul { display: table; clear: left; width: 100%; height: 80px; }
#classroom .sit > ul > li { display: table-cell; position: relative; height: 80px; width: 50%; float: left; z-index: 1 }
#classroom .sit > ul > li:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #CCCCCC;
	border-radius: 100%;
	z-index: -1;
}
#classroom .sit > ul > li:first-child:before { left: 0px; top: 0px; }
#classroom .sit > ul > li:last-child:before { top: 0px; right: 0px; }
#classroom .sit > ul > li > ul > li { width: 80px; }
#classroom .sit > ul > li > ul > li { width: 80px; }
#classroom .sit > ul > li:last-child > ul > li { float: right; }
#classroom .sit > ul > li > ul > li img { width: 80px; height: 80px; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; }
#classroom .sit > ul > li > ul > li strong,
#classroom .sit > ul > li > ul > li i { display: none; }
body > div.wrp > table tr:nth-child(3) > td { padding: .6em 0px; }
#classroom .sit > ul > li > ul { position: absolute; top: 0px; left: 0px; width: 100%; height: 80px; background-color: transparent; }
#runhead { display: none; }
.teacher { height: 164px; border: rgba(0,0,0,.12) solid 1px; border-bottom: none; box-sizing: border-box; padding: 12px; }
.teacher > ul { width: 80px; height: 100%; margin-right: 12px; }
.teacher > ul > li { height: 100%; width: 100%; position: relative; z-index: 1; }
.teacher > ul > li:before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #CCCCCC;
	border-radius: 100%;
	z-index: -1;
	top: 30px;
	left: 0px;
}
.teacher > ul > li > ul { width: 100%; height: 100%; }
.teacher > ul > li > ul > li { position: relative; height: 100%; width: 100%; z-index: 1 }
.teacher > ul > li > ul > li img { width: 80px; height: 80px; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; position: absolute; left: 0px; top: 30px; }
.teacher > ul > li > ul > li strong, .teacher > ul > li > ul > li i { display: none; }
.teacher > div { width: 40px; height: 100%; background-color: #2C3E50; margin-left: 92px; }

.teacher-sit {
	height: 100%;
	
	> ul { 
		width: 80px; 
		height: 100%; 
		margin-right: 12px; 

		> li { 
			height: 100%; 
			width: 100%; 
			position: relative; 
			z-index: 1; 

			&::before {
				content: "";
				position: absolute;
				width: 80px;
				height: 80px;
				background-color: #CCCCCC;
				border-radius: 100%;
				z-index: -1;
				top: 30px;
				left: 0px;
			}

			> ul { 
				width: 100%; 
				height: 100%; 

				> li { 
					position: relative; 
					height: 100%; 
					width: 100%; 
					z-index: 1;

					img { 
						width: 80px; 
						height: 80px; 
						border-radius: 100%; 
						position: absolute; 
						left: 0px; 
						top: 30px; 
					}

					strong, i { display: none;}
				}
			}
		}
	}

	> div { 
		width: 40px; 
		height: 100%; 
		background-color: #2C3E50; 
		margin-left: 92px; 
	}
}

@media print {
	body { -webkit-print-color-adjust: exact; }
	@page { size: 8.27in 11.69in; margin: .5in; }
	.class-room { height: auto!important; overflow: auto!important; padding: 0px!important; border: none!important; margin: 0px!important; }
	.sit { page-break-inside: avoid; }
	.tabbed-pan,
	body > div.wrp > form,
	body > div.wrp > table tr:nth-child(1),
	body > div.wrp > table tr:nth-child(3),
	body > div.wrp > table tr:nth-child(2) > td:first-child,
	body > div.wrp > table tr:nth-child(2) > td:nth-child(2) { display: none; }
	#runhead { display: block; }
}