/* CSS Document */

table { border-collapse: collapse; table-layout: auto; border: rgba(0,0,0,.12) solid 1px; border-right: none; border-bottom: none; }
table td, table th { border: rgba(0,0,0,.12) solid 1px; border-left: none; border-top: none; padding: .4em; text-align: center; }