@CHARSET "UTF-8";

.pf-textbox { width: 100%; box-sizing: border-box; }
.pf-textbox-wrp2 > input,
.pf-textbox-wrp2 > select {
	display: inline-block;
	padding: 0.4em 0.8em;
	padding-left: 0px;
	font-size: 12.5px;
	background: #FFF;
	border: none;
	border-bottom: rgba(0,0,0,1) solid 1px;
	border-radius: 2px;
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0,0,0,.8);
	outline: none;
}
.pf-textbox-wrp2 > input:disabled,
.pf-textbox-wrp2 > select:disabled {
	cursor: default;
	box-shadow: none;
	background: #F0F0F0;
	}
.pf-textbox-wrp2 > input[readonly],
.pf-textbox-wrp2 > select[readonly] {
	cursor: default;
}
.pf-textbox-wrp2 > input[readonly]:focus,
.pf-textbox-wrp2 > select[readonly]:focus {
	box-shadow: none;
}
.pf-textbox-wrp2:before {
	content: "";
	position: absolute;
	left: 51%;
	right: 51%;
	bottom: 0px;
	border-bottom: rgba(11,140,212,1) solid 2px;
    transition: all .2s ease-in-out;
}
.pf-textbox-wrp2.focus:before {
	left: 0px;
	right: 0px;
}
.pf-textbox-wrp2 > span, .pf-textbox-wrp > span { 
	display: none; 
	position: absolute;
	left: 0px;
	top: 0px;
	transition: all .2s ease-in-out;
}
.pf-textbox-wrp2.focus > span, .pf-textbox-wrp.focus > span {
	top: -1.2em;
	display: inline;
}
.pf-element-wrp {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	float: none;
}
.pf-textbox.date {
	padding-right: 20px;
	background: url(../pdms_img/sprite-16p.png) no-repeat 100% 7px;
}

.pf-generic,
.pf-hide {
	display: none;
}

.pf-combobox-wrp ul,
.pf-combobox-wrp ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
}

.pf-combobox-optionslist,
.pf-combobox-optionlist {
	display: none;
	position: absolute;
	box-sizing: border-box;
	border: 1px solid rgba(0,0,0,.12);
	background-color: #FFF;
	width: 100%;
	z-index: 1;
	left: 0;
}

.pf-combobox-optionslist li,
.pf-combobox-option {
	padding: .2em .4em;
	color: #000 !important;
}

.pf-combobox-optionslist li:hover,
.pf-combobox-option:hover,
.pf-combobox-selected-option {
	background: #4AAAD6;
	color: #FFF!important;
}

.pf-generic-combobox, 
.pf-combobox-selectedvalue,
.pf-combobox-selected {
	padding: .2em .4em;
	font-size: 12.5px;
	background: #FFFFFF;
	}

.pf-combobox-selected {
	padding: .4em .8em;
	font-size: 12.5px;
	background: #FFF;
	border: none;
	border-bottom: rgba(0,0,0,.12) solid 1px;
	border-radius: 2px;
	font-family: sans-serif;
	font-weight: normal;
	color: rgba(0,0,0,.8);
	outline: none;
}


.pf-combobox-selectedvalue:hover,
.pf-combobox-selected:hover {
	/** border: 1px solid #1ED2FF; **/
}

.pf-combobox-selectedvalue:after,
.pf-combobox-selected:after {
	content: " ";
	z-index: 1;
	position: absolute;
	right: 5px;
	top: 6px;
	width: 8px;
	height: 8px;
	background-image: url(../img/toggle-down.gif);
}

.pf-combobox-prettycombo {
	cursor: default;
	position: relative;
}
.pf-combobox-prettycombo:before {
	content: "";
	position: absolute;
	left: 51%;
	right: 51%;
	bottom: 0px;
	border-bottom: rgba(11,140,212,1) solid 2px;
    transition: all .2s ease-in-out;
}

.pf-combobox-disabled {
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0px 0.2em;
	position: relative;
	box-sizing: border-box;
	font-size: normal;
	font-family: sans-serif;
	font-weight: normal;
	background: #EEE;
	box-shadow: none;
}

.pf-combobox-disabled:hover {
	box-shadow: none;
}

.pf-btn {
	font: normal 12px/1 sans-serif;
	text-align: center;
	border-radius: 4px;
	padding: 7px 10px 5px 10px;
	text-decoration: none;
	cursor: pointer;
}
.pf-btn:disabled {
	cursor: default;
	}

.pf-btn:focus {
	outline: none;
	box-shadow: 1px 1px 1px #1ED2FF, -1px -1px 1px #1ED2FF;
}

.pf-btn-primary {
	background-color: rgba(19, 24, 29, 0.9);
	box-shadow: inset 0px 0px 0px 1px rgb(0, 0, 0), 0px 1px 2px rgb(4, 3, 3);
	color: rgba(255,255,255,.8);
	font: normal 12px/1 sans-serif;
	text-align: center;
	border-radius: 4px;
	padding: 7px 10px 5px 10px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgb(44, 62, 80);
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
}

.pf-btn-primary:active {
	box-shadow: inset 0px 0px 0px 2px rgb(44, 62, 80), inset 0 1px 1px rgb(121, 145, 173);
}

.pf-btn-primary:hover {
	background-color: rgb(44, 62, 80);
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
	color: #FFF;
}

.pf-btn-primary:focus {
	outline: rgb(44, 62, 80) solid 1px;
	/**box-shadow: 0px 0px 0px 2px rgba(157, 201, 248, 0.4), 0 1px 1px #1ED2FF;**/
}
.pf-btn-primary:disabled {
	box-shadow: none;
	text-shadow: none;
	color: rgba(255,255,255,.6);
	background-color: rgba(44, 62, 80, .8);
	border: rgba(44, 62, 80, .9) solid 1px;
	}
.pf-btn-default {
	background-color: rgba(255,255,255,.6);
	box-shadow: inset 0px 0px 0px 1px rgba(247, 247, 247, 0.4), 0px 1px 2px
		#7F7F7F;
	color: #333333;
	font: normal 12px/1 sans-serif;
	text-align: center;
	border-radius: 4px;
	padding: 7px 10px 5px 10px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid rgba(255,255,255,.2);
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
	}
.pf-btn-default:hover {
	background-color: #FFF;
	}
.pf-btn-default:active {
	border: 1px inset #C9C9C9;
}
.pf-btn-default:focus {
	outline: none;
	box-shadow: 1px 1px 1px #1ED2FF, -1px -1px 1px #1ED2FF;
	}
.pf-btn-default:disabled {
	box-shadow: none;
	text-shadow: none;
	color: #000;
	border: 1px solid #C9C9C9;
	background-color: #CECECE;
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	}
	
/** ----------------------------------------- SWITCH BUTTON STYLE ----------------------------------------------- **/
.pf-switchbutton-wrp label {
	display: inline-block;
	border-radius: 4px;
	border: #A0A8AF solid 1px;
	width: 36px;
	height: 18px;
	}
.pf-switchbutton-wrp label {
	background: transparent url(../img/switch-off.png) no-repeat center top;
	}
.pf-switchbutton-wrp label.switch-on {
	background: transparent url(../img/switch-on.png) no-repeat center top !important;
	}
	
/** ------------------------------------- SPIN INPUT STYLE ---------------------------------------------- **/
.pf-spin-wrp {
	display: inline-block;
	border-radius: 4px;
	border: 1px solid #ABABAB;
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: normal;
	color: #808080;
	box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
	}
.pf-spin-wrp button {
	width: 18px;
	height: 22px;
	border: #A0A8AF solid 1px; 
	background-image: -webkit-linear-gradient(top, #F7F7F7 0%, #CECECE 100%);
	background-image: -moz-linear-gradient(top, #F7F7F7 0%, #CECECE 100%);
	background-image: -o-linear-gradient(top, #F7F7F7 0%, #CECECE 100%);
	background-image: -ms-linear-gradient(top, #F7F7F7 0%, #CECECE 100%);
	background-image: linear-gradient(top, #F7F7F7 0%, #CECECE 100%);
	}
.pf-spin-wrp button:active {
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	}
.pf-spin-wrp input {
	margin: 0;
	padding: 0;
	text-align: center;
	border: none;
	height: 22px;
	}
	
/** --------------------------------------- PANNEL STYLE --------------------------------------------- **/
.pf-panel-header {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: #7991ad;
	border: 1px solid #BEC3C7;
	box-sizing: border-box;
	background-image: -webkit-gradient(
	    linear,
	    left top,
	    left bottom,
	    color-stop(0, #F2F7F5),
	    color-stop(0.4, #e3e9f1)
    );
    background-image: -o-linear-gradient(bottom, #F2F7F5 0%, #e3e9f1 40%);
    background-image: -moz-linear-gradient(bottom, #F2F7F5 0%, #e3e9f1 40%);
    background-image: -webkit-linear-gradient(bottom, #F2F7F5 0%, #e3e9f1 40%);
    background-image: -ms-linear-gradient(bottom, #F2F7F5 0%, #e3e9f1 40%);
    background-image: linear-gradient(to bottom, #F2F7F5 0%, #e3e9f1 40%);
    border:1px solid #ced6d2;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	}

/** ----------------------------------------- CHECKBOX STYLE ----------------------------------------------- **/
.pf-checkbox-wrp label, 
.pf-radio-wrp label {
	display: inline-block;
	width: 24px;
	height: 24px;
	}
.pf-checkbox-wrp label, 
.pf-radio-wrp label {
	background: transparent url(../img/check_off.png) no-repeat center top;
	}
.pf-checkbox-wrp label:hover, 
.pf-radio-wrp label:hover {
	background: transparent url(../img/check_off_hover.png) no-repeat center top;
	}
.pf-checkbox-wrp label.check-on,
.pf-radio-wrp label.check-on
 {
	background: transparent url(../img/check_on.png) no-repeat center top !important;
	}
.pf-checkbox-wrp label.check-on:hover,
.pf-radio-wrp label.check-on:hover
 {
	background: transparent url(../img/check_on_hover.png) no-repeat center top !important;
	}
	
/** ---------------------------------- PROGRESS BAR STYLE ------------------------------------------ **/
.pf-progress {
	width: 10em;
    background: #FFF;
    color: #0033FF;
	padding: 1px;
	border: #A0A8AF solid 1px;
}
.pf-progress::-moz-progress-bar {
	background: #0033FF;
}
.pf-progress::-webkit-progress-value {
	background: #0033FF;
}

.pf-progress::-webkit-progress-bar {
	background: #FFF;
}

/** ------------------------------ DRAG AND DROP STYLE ------------------------------------------ **/
.pf-drag-over {
	box-shadow: inset 0px 3px 2px 2px rgba(0, 0, 0, 0.1);
}
.pf-drag-leave {
	box-shadow: none;
}

/** -------------------------------------------- LOADERS ------------------------------------------------ **/
.pf-loader {display: inline; visibility: hidden;}
.pf-loader-16 {width: 16px; height: 16px;}

/** ------------------------------------------- MESSAGE BOX ------------------------------------------- **/
.pf-fltbx {
	width: 70%;
	padding: 1em;
	border-radius: 6px;
	text-align: center;
	position: absolute;
	top: 52px;
	left: 20%;
	}
.pf-fltbx.fade, .pf-fltbx {
	-webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate3d(0, -100%, 0);
       -o-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
	}
.pf-fltbx.in {
	-webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
	}
#pferr_wrn {
	color: #000;
	background: rgba(254, 167, 37, 1);
	}
#pferr_stct {
	color: #000;
	background: rgba(254, 84, 37, 1);
	}
#pfmsg_succ {
	color: #52A9FF;
	background: rgba(28, 236, 28, 1);
	}
#pfmsg_inf {
	color: #FFF;
	background: rgba(17, 206, 206, 1);
	}
/** --------------------------------------- Custom Buttons ---------------------------------------------------- **/
.pf-btn-custom {
	font: normal 12px/1 sans-serif;
	padding: 7px 10px 5px 10px;
	text-align: center;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	}
	
.pf-btn-custom:disabled { cursor: default; }

.pf-btn-custom:focus { outline: none; box-shadow: 1px 1px 1px #1ED2FF, -1px -1px 1px #1ED2FF; }

.pf-btn-custom.def {
	color: #7991ad;
	border: #D8E3ED solid 1px;
	border-radius: 10px;
	background: #F2F2F2;
	background-image: -webkit-linear-gradient(top, #E7ECF2 0%, #FAFBFB 50%);
	background-image: -moz-linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 50%);
	background-image: -ms-linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 50%);
	background-image: -o-linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 50%);
	background-image: linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 50%);
	font: normal 12px/1 sans-serif;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.1);
	}
	
.pf-btn-custom.def:hover {
	background-color: #F7F7F7;
	background-image: -webkit-linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 100%);
	background-image: -moz-linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 100%);
	background-image: -o-linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 100%);
	background-image: -ms-linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 100%);
	background-image: linear-gradient(bottom, #E7ECF2 0%, #FAFBFB 100%);
	}
	
.pf-btn-custom.def:active { border: 1px inset #C9C9C9; }

.pf-btn-custom.def:focus { outline: none; box-shadow: 1px 1px 1px #1ED2FF, -1px -1px 1px #1ED2FF; }

.pf-btn-custom.def:disabled {
	box-shadow: none;
	text-shadow: none;
	color: #000;
	border: 1px solid #C9C9C9;
	background-color: #CECECE;
	background-image: -webkit-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -moz-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -o-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: -ms-linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	background-image: linear-gradient(bottom, #F7F7F7 0%, #CECECE 100%);
	}
	
.pf-selectbutton,
.pf-selectbutton ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	white-space: nowrap;
}

.pf-selectbutton-selected {
	white-space: nowrap;
}

.pf-selectbutton-optionlist {
	display: none;
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #999;
	background-color: #FFF;
	width: 100%;
	z-index: 10;
	left: 0;
	top: -72px;
}

.pf-selectbutton-optionlist li {
	padding: 2px 0.4em;
	text-align: left;
	cursor: default;
}

.pf-selectbutton-optionlist li:hover {
	background: #4AAAD6;
	color: #FFF!important;
}

.pf-selectbutton-value {
	vertical-align: middle;
	padding-right: 24px;
}
	
.pf-selectbutton-icon {
	position: absolute;
	right: 2px;
	vertical-align: baseline;
	display: inline-block;
	width: 18px;
	height: 100%;
	border-left: 2px groove #c6e0c6;
	margin-left: 2px;
	text-align: center;
	line-height: 18px;
	color: #FFF;
}

.pf-selectbutton, {
	cursor: default;
}

.pf-selectbutton-disabled {
	border: 1px solid #999;
	border-radius: 2px;
	padding: 0px 0.2em;
	position: relative;
	box-sizing: border-box;
	font-size: normal;
	font-family: sans-serif;
	font-weight: normal;
	background: #EEE;
	box-shadow: none;
}

.pf-selectbutton-disabled:hover {
	box-shadow: none;
}