@CHARSET "ISO-8859-1";

body { margin: 0; padding: 0; font-family: 'robotoregular'; font-size: 13px; min-height: 500px; }
a { text-decoration: none; color: #0382B0; }
a:hover { text-decoration: underline; }
.list { margin: 0px; padding: 0px; list-style-type: none; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.full { width: 100%; }
.flx { display: flex; }
.tb { display: table; }
.rw { display: table-row; }
.cl { display: table-cell; }
.wrp { height: auto; overflow: auto; }
fieldset { border: none; margin: 0px; padding: 0px; }
legend { display: none; }
span.ib { display: inline-block; height: auto; }
.cd > span { width: 18px; height: 18px; background-repeat: no-repeat; background-image: url(../img/sprite-18.png); }
a.pf-btn { text-decoration: none!important; }
[role="button"] { display: inline-block; padding: .4em; border-radius: 100%; text-align: center; vertical-align: middle; width: auto; height: auto; cursor: default; user-select: none; transition: all ease-in-out .1s; }
[role="button"]:active { transform: scale(1.1); }
[role="button"]:active, [role="button"]:focus { background-color: #00AAFF; outline: none; }
[role="button"]:hover { background-color: rgba(176,185,189,.4); }
[role="link"] { display: inline-block; padding: .2em; border-radius: 4px; text-align: center; vertical-align: middle; width: auto; height: auto; overflow: auto; cursor: pointer; user-select: none; }
[role="link"]:active {  }
[role="link"]:hover { background-color: rgba(176,185,189,.4); }
[role="checkbox"] { display: inline-block; padding: .4em; border-radius: 100%; text-align: center; vertical-align: middle; width: auto; height: auto; cursor: default; user-select: none; transition: all ease-in-out .1s; }
[role="checkbox"]:hover { background-color: rgba(176,185,189,.4); }
[role="checkbox"]:active { transform: scale(1.1); }
[role="checkbox"]:active, [role="button"]:focus { background-color: #00AAFF; outline: none; }
.pf-textbox-wrp { width: 100%; }