/* CSS Document */

.llp { background-position: -770px 0px!important; }
#hidx04 { margin-top: 30px; }
.hic > span { width: 64px; height: 64px; background-color: transparent; background-image: url(../img/64.png); }
.hic.p1 > span { background-position: 0px 0px; }
.hic.p2 > span { background-position: 0px -64px; }
.hic.p3 > span { background-position: 0px -128px; }
.hic.p4 > span { background-position: 0px -192px; }
.hc04 > span:last-child { font-size: 140%; }
#hidx04 > div { display: block; }
#hidx05 img { width: 100%; height: auto; }
#hidx06 .flx { display: block; }
#hidx07 > div > div { width: 48%; margin-right: 4%; padding: 4%; margin-top: 5%; }
#hidx07 > div > div:nth-child(2n+2) { margin-right: 0px!important; }
#hidx07 > div > div:nth-child(3n+3) { margin-right: 4%; }
#hidx08 img { width: 100%; height: auto; }
#hidx08 form .pf-textbox-wrp { width: 100%; }
#hidx11 .flx { display: block; }
#hidx11 > div > div { width: 100%; margin-bottom: 5%; box-sizing: border-box; }
#hidx12 form { width: 100%; }
.nav { display: none; width: 200px; height: 100%; background: linear-gradient(to right, #2c3e50 0%, #7baee0 70%, #7bade0 100%, #7baee0 100%); padding: 18px 5% 38px 5%; box-sizing: border-box; overflow: hidden; }
.nav > li { text-align: left; margin-bottom: 8px; }
.nav > li:first-child { text-align: right; }
.nav > li:first-child [role=button] > span { width: 24px; height: 24px; background: url(../img/24.png) no-repeat 0px -314px; }
.nav > li:last-child > a { border: none; border-radius: 0; padding: 0; text-align: left; font-family: 'robotobold'; font-size: 14px; text-transform: uppercase; }
.menu > li > span > span { width: 24px; height: 24px; background: url(../img/24.png) no-repeat 0px -290px; }
.menu > li > ul.list { position: fixed; top: 0px; right: 0px; z-index: 1050; }