//
// Pagination
//

.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	
	h2 { display: none; }

	.page-numbers {
		margin: 0 .5rem;
		color: $gray-600;
		font-weight: bold;

		&.current {
			display: inline-flex;
			width: 45px;
			height: 45px;
			justify-content: center;
			align-items: center;
			background-color: $primary;
			color: $white;
			border-radius: 50%;

			&:hover {
				color: $secondary;
				background-color: $dark-light;
			}
		}

		&:hover {
			color: $primary;
		}
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.page-item {
		margin-right: $pagination-item-space-tablet-and-mobile;

		&:last-child {
			margin-right: 0;
		}
	}
}

