//
// Content
//

// Desktop mode
@include media-breakpoint-up(lg) {
	.service {
		.hoverable {
			&:hover {
				background-color: $primary !important;
				color: $white !important;

				.text-gray-600 {
					color: $white !important;
				}
			}
		}
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.content {
		padding: get($content-spacing, tablet-and-mobile) 0;
	}
}
