//
// Header
//

// Desktop mode
@include media-breakpoint-up(lg) {
    .footer {
        .menu-item {
            margin-bottom: 0;

            .nav-link {
                color: $gray-600;
                padding: 0 1rem .5rem 0 !important;
            }

            &:hover, &.active {
                .nav-link {
                    color: $primary !important;
                }
            }

            &.active {
                .nav-link {
                    font-weight: $font-weight-boldest;
                }
            }
        }

        .title-underlined {
            position: relative;
            color: $dark;
            font-weight: $font-weight-boldest;
            font-size: 1.25rem;
            padding-bottom: .75rem;
            display: inline-block;

            &::before {
                position: absolute;
                content: "";
                background-color: $primary;
                width: 80%;
                height: 4px;
                bottom: 0;
            }
        }
    }
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
    .footer {
        .menu-item {
            margin-bottom: 0;

            .nav-link {
                color: $gray-600;
            }

            &:hover, &.active {
                .nav-link {
                    color: $primary !important;
                }
            }

            &.active {
                .nav-link {
                    font-weight: $font-weight-boldest;
                }
            }
        }

        .title-underlined {
            position: relative;
            color: $dark;
            font-weight: $font-weight-boldest;
            font-size: 1.25rem;
            padding-bottom: .75rem;
            display: inline-block;

            &::before {
                position: absolute;
                content: "";
                background-color: $primary;
                width: 80%;
                height: 4px;
                bottom: 0;
            }
        }

        .row {
            .col {
                border: none !important;
            }
        }
    }
}