//
// Header
//

// Desktop mode
@include media-breakpoint-up(lg) {
	.header {
		position: relative;
		z-index: 2;
		transition: left get($aside-config, general, transition-speed) ease;

		.navbar-inner { 
			.menu-item {
				margin-right: 1rem;
				font-size: 1rem;

				.nav-link {
					color: $gray-600;
					font-size: 120%;
				}

				&.active, &:hover {
					.nav-link {
						color: $primary !important;
					}
				}

				&.active {
					font-weight: $font-weight-boldest;
				}

				&:last-child {
					margin-right: 0;
				}

				.dropdown-menu {
					background-color: $primary;
					border-radius: 0 !important;
					padding: 0 1rem !important;

					> .menu-item {
						margin-right: 0 !important;
						border-bottom: $white solid 1px;

						.dropdown-item {
							color: rgba(255, 255, 255, 0.8);
							padding: 0.75rem 0 !important;
						}

						&:hover, &.active {
							.dropdown-item {
								background: none !important;
								color: $white!important;
							}
						}

						&:last-child {
							border-bottom: none !important;
						}
					}
				}
			}
		}

		.slide-vision {
			padding-top: 16px !important;
		}
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.header {
		position: relative;
		z-index: 2;
		transition: left get($aside-config, general, transition-speed) ease;

		.navbar-inner { 
			.menu-item {
				margin-right: 1rem;
				font-size: 1rem;

				.nav-link {
					color: $gray-700;
				}

				&.active, &:hover {
					.nav-link {
						color: $primary !important;
						font-weight: $font-weight-boldest;
					}
				}

				&:last-child {
					margin-right: 0;
				}

				.dropdown-menu {
					background-color: $primary;

					> .menu-item {
						margin-right: 0 !important;

						.dropdown-item {
							color: $white;
							padding: 0.5rem 1rem;
						}

						&:hover {
							background-color: $white;

							.dropdown-item {
								color: $primary !important;
							}
						}
					}
				}
			}
		}

		.slide-vision {
			padding-top: 10px !important;
		}
	}
}
