.pferr_wrn {
	color: #000;
	background: rgba(254, 167, 37, 1);
	}
.pferr_stct {
	color: #000;
	background: rgba(254, 84, 37, 1);
	}
.pfmsg_succ {
	color: #52A9FF;
	background: rgba(28, 236, 28, 1);
	}
.pfmsg_inf {
	color: #FFF;
	background: rgba(17, 206, 206, 1);
}