.pf-selectbutton {
    cursor: default;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        white-space: nowrap;
    }

    .pf-selectbutton-selected {
        white-space: nowrap;
    }

    .pf-selectbutton-optionlist {
        display: none;
        position: absolute;
        box-sizing: border-box;
        border: 1px solid #999;
        background-color: #FFF;
        width: 100%;
        z-index: 10;
        left: 0;
        top: -72px;

        li {
            padding: 2px 0.4em;
            text-align: left;
            cursor: default;

            &:hover {
                background: #4AAAD6;
	            color: #FFF!important;
            }
        }
    }

    .pf-selectbutton-value {
        vertical-align: middle;
        padding-right: 24px;
    }

    .pf-selectbutton-icon {
        position: absolute;
        right: 2px;
        vertical-align: baseline;
        display: inline-block;
        width: 18px;
        height: 100%;
        border-left: 2px groove #c6e0c6;
        margin-left: 2px;
        text-align: center;
        line-height: 18px;
        color: #FFF;
    }

    .pf-selectbutton-disabled {
        border: 1px solid #999;
        border-radius: 2px;
        padding: 0px 0.2em;
        position: relative;
        box-sizing: border-box;
        font-size: normal;
        font-family: sans-serif;
        font-weight: normal;
        background: #EEE;
        box-shadow: none;

        &:hover {
            box-shadow: none;
        }
    }
}